@helper PanelHeader(string panelTitle = "查询条件")
{
    <div class="panel-heading">
        <div class="pull-right panel-toolbar">
            <button class="btn btn-transparent btn-sm">
                <i class="fa fa-angle-up"></i>
            </button>
        </div>
        <h3 class="panel-title">@panelTitle</h3>
    </div>
}