@using TongYan.Web.Controls.Extensions
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title table-condensed">自定义插件提供的Api方法</h3>
            </div>
            <div class="panel-body">
                <input type="button" id="test" value="获取选中的数据数组" class="btn btn-teal" />
                <input type="button" id="checkTest" value="勾选第4项" class="btn btn-inverse" />
                <input type="button" id="checkAllTest" value="全选" class="btn btn-inverse" />
                <input type="button" id="checkNoneTest" value="全不选" class="btn btn-inverse" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title table-condensed">复杂表头表格</h3>
            </div>
            <div class="panel-body">
                @(
    Html.Control().Grid("demoTable").Highlight().ClassName("table-lilac").Features(x =>
    {
        x.AutoWidth = false;
        x.EnableCheck();
    }).GridOptions(x =>
    {
        x.Order = "jo:[[ 1, \'asc\' ]]";
    }).Data(x =>
    {
        x.Ajax.Url = "DataGrid/GetData";
    })
    .ColumnsProvider(new TongYan.Web.Controls.DataGrid.Providers.JsonGridColumnsProvider(), "Test")
                //.Columns(x =>
                //{
                //    x.Title("用户信息").Colspan(2).Align("center");
                //    x.Title("其他信息").Colspan(2).Align("center");
                //    x.Title("电话").Rowspan(2).Name("Tel").SetOrderCrossRows(5).UnOrderable();
                //}).
                //Columns(x =>
                //{
                //    x.Title("用户名").Name("UserName").SetOrderCrossRows(1);
                //    x.Title("姓名").Name("FullName").SetOrderCrossRows(2);
                //    x.Title("部门").Name("DptName").SetOrderCrossRows(3);
                //    x.Title("性别").Name("Gender").SetOrderCrossRows(4);
                //})//.RunScriptForMe()
                )
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var dataApi;
        $(function () {
            dataApi = $("#demoTable").tyDataTable();

            $("#test").bind("click", function () {
                var a = dataApi.data().getChecked();
                alert(JSON.stringify(a));
            });

            $("#checkTest").bind("click", function () {
                dataApi.rows(3).check();
            });

            $("#checkAllTest").bind("click", function () {
                dataApi.rows().check();
            });

            $("#checkNoneTest").bind("click", function () {
                dataApi.rows().check(false);
            });
        });
    </script>
}
