@using TongYan.Web.Controls.DataGrid
@using TongYan.Web.Controls.Extensions
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title table-condensed">查询条件</h3>
            </div>
            <div class="panel-body">
                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title table-condensed">复杂表头表格</h3>
            </div>
            <div class="panel-body">
                @(
    Html.Control().Grid("demoTable").Highlight().ClassName("table-lilac").Features(x =>
    {
        x.AutoWidth = false;
    }).Data(x =>
    {
        x.Ajax.Url = "DataGrid/GetData";
    }).ColumnsProvider(new TongYan.Web.Controls.DataGrid.Providers.JsonGridColumnsProvider(), "Test").RunScriptForMe()
                )
            </div>
        </div>
    </div>
</div>

