@using TongYan.Web.Controls.Extensions
@using TongYan.Web.Controls.Select
@{
    var data = new[]
    {
        new SelectModel("1", "option 1"),
        new SelectModel("2", "option 2"),
        new SelectModel("3", "option 3"),
        new SelectModel("4", "option 4"),
        new SelectModel("5", "option 5")
    };
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TongYan.Web.Models.EmployeeQueryModel
<h2>Index</h2>

@Html.Control().Select(f => f.DptName).SetOptions(x =>
{
    x.AllowClear = true;
    x.Multiple = true;
    x.Placeholder = "请选择一项数据";
    x.SetData(data);
})
<br /><br />

<div class="row">
    <div class="col-sm-4">
        @Html.Control().Select(f => f.FullName).SetOptions(x =>
        {
            x.AllowClear = true;
            x.Placeholder = "请选择省份";
        }).Linkage(x =>
        {
            x.Url = Url.Action("GetFirst", "Select");
        })
    </div>
    <div class="col-sm-4">
        @Html.Control().Select(f => f.UserName).SetOptions(x =>
        {
            x.AllowClear = true;
            x.Placeholder = "请选择城市";
        }).Linkage(x =>
        {
            x.Parent = "FullName";
            x.Url = Url.Action("GetSecond", "Select");
        })
    </div>
    <div class="col-sm-4">
        @Html.Control().Select(f => f.Order).SetOptions(x =>
        {
            x.AllowClear = true;
            x.Placeholder = "请选择地区";
        }).Linkage(x =>
        {
            x.Parent = "UserName";
            x.Url = Url.Action("GetThird", "Select");
        })
</div>
</div>


@section Scripts{
    <script>
        $(function () {
            $('#DptName').tySelect();
            $('#FullName').tySelect();
            $('#UserName').tySelect();
            $('#Order').tySelect();
        });
    </script>
}