@using TongYan.Web.Controls.Extensions
@using TongYan.Web.Controls.Select
@{
    var data = new[]
    {
        new SelectModel("1", "option 1"),
        new SelectModel("2", "option 2"),
        new SelectModel("3", "option 3"),
        new SelectModel("4", "option 4"),
        new SelectModel("5", "option 5")
    };
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TongYan.Web.Models.EmployeeQueryModel
<h2>Index</h2>

@Html.Control().Select(f => f.DptName).SetOptions(x =>
    {
        x.AllowClear = true;
        x.Multiple = true;
        x.Placeholder = "请选择一项数据";
        x.SetData(data);
    })
<br /><br />
@*@Html.Control().Select(f => f.FullName).SetOptions(x =>
    {
        x.Ajax.Url = Url.Action("GetFirst", "Select");
        x.Ajax.
    })*@
<select id="FullName"></select>

@section Scripts{
    <script>
        $(function () {
            var select = $('#DptName');
            var opt = $.TongYan.parser.parseOptions(select, 'data-options');
            select.select2(opt);

        });
    </script>
}